<html>

<head>


  {% if title %}
  <title>{{ title }} - Flask SQLite Bootstrap</title>
  {% else %}
  <title>About CVD</title>
  {% endif %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
</head>

<body>

<!--<div class="jumbotron text-center" style="margin-bottom:0">
	<h1> * Flask SQLite Bootstrap * </h1>
	Welcome to Full Stack Python course @ NIELIT
</div>-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<!--<a class="navbar-brand" href="#">Navbar</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/CVD"> <font size="3" color= "white">What is CVD </font></a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/causes"> <font size="3" color= "white">Causes of CVD </font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index"> <font size="3" color= "white">Prediction of CVD </font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/prevention"> <font size="3" color= "white">Preventions from CVD </font></a>
      </li>
	<!--  <li class="nav-item">
        <a class="nav-link" href="/aboutus"> <font size="3" color= "white">About Us</font></a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/login"> <font size="3" color= "white">Sign Out </font></a>
      </li>-->
	  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	  <font size="3" color= "white">
        Link
	  </font>
      </a>
      <div class="dropdown-menu">
	  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <a class="dropdown-item" href="/aboutus"><font size="3" color= "white">About Us</font></a>
        <a class="dropdown-item" href="/login"> <font size="3" color= "white">Sign Out</font></a>

      </div>
      </li>
    </ul>
  </div>  
</nav>

<div class="container">
  {% block content %}
   
  
  {% endblock %}

</body>
</html>