{% extends 'base.html' %}

{% block content %}

<body style="background-image:linear-gradient(to right,rgba(255,0,0,0),rgba(255,0,0,0.3));">
<h1 style="text-shadow: 2px 2px 5px pink;">Causes Of CVD</h1>
<p><br>The exact cause of CVD isn't clear, but there are lots of things that can increase your risk of getting it.These</br>
are called "risk factors".The more risk factors you have, the greater your chances of developing CVD.</br></p>
The main risk factors for CVD are outlined below.</br>

<h2  style="text-shadow: 2px 2px 5px pink;"><br>High blood pressure</br></h2>
<p>High blood pressure (hypertension) is one of the most important risk factors for CVD.</br>
If your blood pressure is too high, it can damage your blood vessels.</br></p>

<h2  style="text-shadow: 2px 2px 5px pink;">Smoking</h2>
<p>Smoking and other tobacco use is also a significant risk factor for CVD.The harmful</br>
substances in tobacco can damage and narrow your blood vessels.</p>

<h2  style="text-shadow: 2px 2px 5px pink;">High cholesterol</h2>
<p>Cholesterol is a fatty substance found in the blood. If you have high cholesterol,it can cause</br>
your blood vessels to narrow and increase your risk of developing a blood clot.</p>

<h2  style="text-shadow: 2px 2px 5px pink;">Diabetes</h2>
<p>Diabetes is a lifelong condition that causes your blood sugar level to become too high.High blood</br> 
sugar levels can damage the blood vessels, making them more likely to become narrowed.</p>

<h2  style="text-shadow: 2px 2px 5px pink;">Inactivity</h2>
<p>If you don't exercise regularly, it's more likely that you'll have high blood pressure, high</br>
cholesterol levels and be overweight. All of these are risk factors for CVD.</br>
<br>Exercising regularly will help keep your heart healthy. When combined with a healthy diet,</br> 
exercise can also help you maintain a healthy weight.</br>

<h2  style="text-shadow: 2px 2px 5px pink;">Being overweight</h2>
<p>Being overweight increases your risk of developing diabetes and high blood pressure which is also</br>
the risk factor for CVD.You're at an increased risk of CVD if:</br>
<br>Your body mass index (BMI) is 25 or above – use the BMI healthy weight calculator to work out your BMI</br>

<h2  style="text-shadow: 2px 2px 5px pink;">Family history of CVD</h2>
<p>If you have a family history of CVD, your risk of developing it is also increased.</br>
You're considered to have a family history of CVD if either:</br>
<br>your father or brother were diagnosed with CVD before they were 55.</br>
<br>your mother or sister were diagnosed with CVD before they were 65.</br>
<br>Tell your doctor or nurse if you have a family history of CVD. They may suggest</br>
 checking your blood pressure and cholesterol level.</br></p>

<h2  style="text-shadow: 2px 2px 5px pink;">Other risk factors</h2>
<p>Other factors that affect your risk of developing CVD include:
<br><b>Age</b> – CVD is most common in people over 50 and your risk of developing it</br>
increases as you get older.</br>
<br><b>Gender</b> – men are more likely to develop CVD at an earlier age than women.</br>
<br><b>Diet</b> – an unhealthy diet can lead to high cholesterol and high blood pressure.</br>
<br><b>Alcohol</b>– excessive alcohol consumption can also increase your cholesterol</br> 
and blood pressure levels and contribute to weight gain.</br></p>
</body>


{% endblock content %}