{% extends 'base.html' %}

{% block content %}


<body style="background-image:linear-gradient(to right,rgba(255,0,0,0),rgba(255,0,0,0.3));">
<h1 style="text-shadow: 2px 2px 5px pink;"> Cardiovascular Disease</h1>
<p><br>Cardiovascular disease (CVD) is a general term for conditions affecting the heart or blood vessels.</br>
<br>It's usually associated with a build-up of fatty deposits inside the arteries (atherosclerosis) and</br>
an increased risk of blood clots.</br>
<br>It can also be associated with damage to arteries in organs such as the brain, heart, kidneys and eyes.</br>
<br>CVD is one of the main causes of death but it can often largely be prevented by leading a</br>
healthy lifestyle.</br></p>

<h2 style="text-shadow: 2px 2px 5px pink;">Types Of Cardiovascular Disease</h2>
<p>There are many different types of CVD. Four of the main types are described below.</p>

<h3 style="text-shadow: 2px 2px 5px pink;">Coronary heart disease</h3>
<p>Coronary heart disease occurs when the flow of oxygen-rich blood to the heart muscle</br>
is blocked or reduced.</br>
<br>This puts an increased strain on the heart, and can lead to:</br>
<br><b>Angina</b> – chest pain caused by restricted blood flow to the heart muscle.</br>
<br><b>Heart attacks</b> – where the blood flow to the heart muscle is suddenly blocked.</br>
<br><b>Heart failure</b> – where the heart is unable to pump blood around the body properly.</br></p>

<h3 style="text-shadow: 2px 2px 5px pink;">Strokes and TIAs</h3>
<p>A stroke is where the blood supply to part of the brain is cut off, which can cause brain</br> 
damage and possibly death.</br>
<br>A transient ischaemic attack (also called a TIA or "mini-stroke") is similar, but the blood flow</br>
to the brain is only temporarily disrupted.</br>
<br>The main symptoms of a stroke or TIA can be remembered with the word FAST, which stands for:</br>
<br><b>Face</b> – the face may have drooped on one side, the person may be unable to smile,or their</br>
mouth or eye may have dropped.</br>
<br><b>Arms</b>– the person may not be able to lift both arms and keep them there because of arm</br>
weakness or numbness in one arm.</br>
<br><b>Speech</b> – their speech may be slurred or garbled, or they may not be able to talk at all.</br>
<br><b>Time</b> – it's time to dial 112 immediately if you see any of these signs or symptoms.</br></p>

<h3  style="text-shadow: 2px 2px 5px pink;">Peripheral arterial disease</h3>
<p>Peripheral arterial disease occurs when there's a blockage in the arteries to the limbs,</br>
usually the legs.</br>
<br>This can cause:</br>
<br>a) Dull or cramping leg pain, which is worse when walking and gets better with rest</br>
b) Hair loss on the legs and feet</br>
c) Hair loss on the legs and feet</br>
d) Numbness or weakness in the legs</br>
e) Persistent ulcers (open sores) on the feet and legs</br></p>

<h3  style="text-shadow: 2px 2px 5px pink;">Aortic disease</h3>
<p>Aortic diseases are a group of conditions affecting the aorta. This is the largest blood vessel in the body,
<br>which carries blood from the heart to the rest of the body.</br>
<br>One of most common aortic diseases is an aortic aneurysm, where the aorta becomes weakened and bulges outwards.</br>
<br>This doesn't usually have any symptoms, but there's a chance it could burst and cause life-threatening bleeding.</br></p>
</div>


{% endblock content %}