{% extends 'base.html' %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
<style> 
input[type=number], select[name=heartrate] {   
       border: 1px solid black;
       padding: 5px;
	   width: 100%;
       border-radius: 30px;
}

button {  
       background-color: black; 
       width: 70%;  
       color: white;
       margin: 10px 0px;	   
       border: 1px solid black;
       padding: 15px;
       border-radius: 30px;
}

</style>
</head>

<body style="background-image:linear-gradient(to right,rgba(255,0,0,0),rgba(255,0,0,0.3));">
<center>
<h1 style="text-shadow: 2px 2px 5px pink;">Here you can predict the probability of Cardiovascular Disease<h1>   </center> 
    <form action='/predict' method="post">
      <table>
		<tr style="text-shadow: 2px 2px 5px pink;"><td><font size="4"><br><b> Age
			<td><br> <input type=number name="age"  placeholder="Age (in years)" >
        </tr>
        <tr style="text-shadow: 2px 2px 5px pink;"><td><font size="4"><br><b> Gender 
            <td><br> <input  name="gender" type=radio   value=1> Male <input  name="gender" type=radio   value=2> Female 
		</tr>
		<tr style="text-shadow: 2px 2px 5px pink;"><td><font size="4"><br><b> Height
			<td><br>   <input type=number name="height"  placeholder="Height (in cms) " >
        </tr>
		<tr style="text-shadow: 2px 2px 5px pink;"><td ><font size="4"><br><b> Weight
			<td><br>   <input type=number name="weight"  placeholder="Weight (in Kgs) " >
        </tr>
		<tr style="text-shadow: 2px 2px 5px pink;"><td><font size="4"><br><b> Systolic Pressure
			<td><br>   <input  type=number name="ap_hi"  placeholder="BP top (in mm Hg) " >
        </tr>
		<tr style="text-shadow: 2px 2px 5px pink;"><td><font size="4"><br><b> Diastolic Pressure
			<td><br>   <input  type=number name="ap_lo"  placeholder="BP bottom (in mm Hg) " >
        </tr>
		<tr style="text-shadow: 2px 2px 5px pink;"><td><font size="4"><br><b> Smoker
            <td><br>   <input  name="smoker" type=radio   value=1> Yes <input  name="smoker" type=radio   value=0> No
		</tr>
		<tr style="text-shadow: 2px 2px 5px pink;"><td><font size="4"><br><b> Alcoholic
            <td><br>   <input  name="alcohol" type=radio value=1> Yes <input  name="alcohol" type=radio   value=0> No		
		</tr>
		<tr style="text-shadow: 2px 2px 5px pink;"><td><font size="4"><br><b> Exercise Daily 
            <td><br>   <input  name="active" type=radio   value=1> Yes <input  name="active" type=radio   value=0> No
		</tr>
		<tr style="text-shadow: 2px 2px 5px pink;"><td><font size="4"><br><b> Heart Rate
            <td><br>  <select name = "heartrate">
					<option value =1> 85-145 
					<option value =2> 90-155 
					<option value =3> 80-140 
					<option value =4> 95-165 
					<option value =5> 100-170 
				</select>
		</tr>
		<tr>
		<td colspan=2 align=center href="/prob"><br><button type="submit">Predict Probability</button>
		</tr>
	  </table>
    </body>
</html>

</div>


{% endblock content %}