{% extends 'base.html' %}

{% block content %}

<body style="background-image:linear-gradient(to right,rgba(255,0,0,0),rgba(255,0,0,0.3));">
<h1 style="text-shadow: 2px 2px 5px pink;">Preventions from  CVD</h1>
<p><br>A healthy lifestyle can lower your risk of CVD. If you already have CVD, staying</br>
as healthy as possible can reduce the chances of it getting worse.</br>
<br>Ways you can reduce your CVD risk are outlined below.</br>

<h2 style="text-shadow: 2px 2px 5px pink;">Stop smoking</h2>
<p>If you smoke, you should try to give up as soon as possible. The NHS Smokefree</br>
website can provide information,support and advice to help.</br>
<br>Your GP can also provide you with advice and support. They can also prescribe</br>
medication to help you quit.<br>

<h2 style="text-shadow: 2px 2px 5px pink;">Have a balanced diet</h2>
<p>A healthy, balanced diet is recommended for a healthy heart.</br>
A balanced diet includes:</br>
<br>a) Low levels of saturated fat (found in foods such as fatty cuts of meat, lard, cream,cakes and biscuits)</br>
– try to include healthier sources of fat, such as oily fish, nuts and seeds, and olive oil</br>
b) Low levels of salt – aim for less than 6g (0.2oz or 1 teaspoon) a day</br>
c) Low levels of sugar</br>
d) Plenty of fibre and wholegrain foods</br>
e) Plenty of fruit and vegetables – eat at least 5 portions of fruit and vegetables a day</br></p>

<h2 style="text-shadow: 2px 2px 5px pink;">Exercise regularly</h2>
<p>Adults are advised to do at least 150 minutes of moderate activity a week, such as cycling or brisk walking.</br>
<br>If you find it difficult to do this, start at a level you feel comfortable with and gradually increase the duration</br>
and intensity of your activity as your fitness improves.</br>
<br>Visit your GP for a health check if you haven't exercised before or you're returning to exercise after a long break.</br>

<h2 style="text-shadow: 2px 2px 5px pink;">Maintain a healthy weight</h2>
<p>If you're overweight or obese, a combination of regular exercise and a healthy diet can help you lose weight.</br>
Aim to get your BMI below 25</br>
<br>If you're struggling to lose weight, your GP or practice nurse can help you come up with a weight loss plan</br>
and recommend services in your area.</br></p>

<h2 style="text-shadow: 2px 2px 5px pink;">Cut down on alcohol</h2>
<p>If you drink alcohol, try not to exceed the recommended limit of 14 alcohol units a week for men and women.</br>
<br>If you do drink this much, you should aim to spread your drinking over 3 days or more.</br>
<br>A unit of alcohol is roughly equivalent to half a pint of normal-strength lager or a single measure (25ml)</br>
of spirits.A small glass of wine (125ml) is about 1.5 units.</br>
<br>Your GP can give you help and advice if you're finding it difficult to cut down your drinking.</p>

<h2 style="text-shadow: 2px 2px 5px pink;">Medication</h2>
<p>If you have a particularly high risk of developing CVD, your GP may recommend taking medication</br>
to reduce your risk.</br>
<br>Medications that may be recommended include statins to lower blood cholesterol levels, low-dose</br>
aspirin to prevent blood clots, and tablets to reduce blood pressure.</br></p>
</body>
</div>

{% endblock content %}	